@model IEnumerable<CodeTrip.Models.Hospedagem>

<p>
    <a asp-controller="Hospedagem" asp-action="CadastrarHospedagem">Cadastrar Hospedagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Hospedagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Tipo_Hospedagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Pensao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro_Endereço_Hospedagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_Endereço_Hospedagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro_Endereço_Hospedagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento_Endereço_Hospedagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade_Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UF_Estado)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Hospedagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Tipo_Hospedagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Pensao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logradouro_Endereço_Hospedagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_Endereço_Hospedagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro_Endereço_Hospedagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complemento_Endereço_Hospedagem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade_Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UF_Estado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarHospedagem", new { id = item.Id_Hospedagem }) |
                    @Html.ActionLink("Excluir", "ExcluirHospedagem", new { id = item.Id_Hospedagem },
                             new { onclick = "return confirm('Deseja realmente Excluir este item?');" })
                </td>
            </tr>
        }
    </tbody>
</table>